<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET (WAJIB API) -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- LOCATION (WAJIB GPS AKURAT) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- NOTIF (ANDROID 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- OPTIONAL (biar alarm tetap jalan setelah restart) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Alarm adzan -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.WaktuSholat"
        android:supportsRtl="true"
        android:icon="@drawable/ic_logo"
        android:roundIcon="@drawable/ic_logo">

        <!-- RECEIVER ADZAN -->
        <receiver
            android:name=".receiver.AdzanReceiver"
            android:exported="false"/>

        <!-- (OPTIONAL NEXT LEVEL: auto start setelah restart HP) -->
        <!--
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->

        <!-- ACTIVITY -->
        <activity android:name=".PilihKotaActivity"/>
        <activity android:name=".AdzanActivity"/>
        <activity android:name=".TasbihActivity"/>
        <activity android:name=".KiblatActivity"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>